/* Small devices (portrait tablets and large phones, 600px and up) */
@media all and (min-width: 300px) {
    body{
        background-color: blanchedalmond;
        display: grid;
        grid-template-columns: 1fr 6fr;
        grid-template-rows: 20px 50px 50px 50px 50px 50px 70px auto auto auto auto;
        grid-column-gap: 50px;
        margin: 0;
    }
    .img{
        align-self: center;
        width: 400px;
    }
    a {text-decoration: none;color: white}

    ul {
        margin: 0;
        padding:0px;
        grid-column: 1/5;
        display: flex;
        list-style: none;
    }
    li {
        grid-column: 1/5;
        flex: 100%;
        text-align: center;
        background-color: grey;
    }
    .nav{display: none; visibility: hidden}
    .mobileNav{
        background-color: gray;
        grid-row:2;
        grid-column: span 15;
    }
    .mobileNav2{
        background-color: gray;
        grid-row:3;
        grid-column: span 15;
    }
    .mobileNav3{
        background-color: gray;
        grid-row:4;
        grid-column: span 15;
    }
    .mobileNav4{
        background-color: gray;
        grid-row:5;
        grid-column: span 15;
    }
    .mobileNav5{
        background-color: gray;
        grid-row:6;
        grid-column: span 15;
    }




    .titlebar{grid-column: span 50; grid-row: 7}

    .bar1 {grid-column: 1}

    .bar2 {grid-column: 1}

    .bar3{grid-column: 1}
    .top-bar{grid-column: 1/50; background-color: grey; grid-row: 1}
    .footer{grid-column: 1/10; background-color: grey;}
    .footercontent{grid-column:1/10; grid-row: 11; color: white; margin:20px; background-color: grey}
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 800px) {
    body{
        background-color: blanchedalmond;
        display: grid;
        grid-template-columns: 1fr 6fr;
        grid-template-rows: 20px 50px 50px 50px 50px 50px 70px auto auto auto 700px;
        grid-column-gap: 50px;
        margin: 0;
    }
    .img{
        align-self: center;
        width: 400px;
    }
    a {text-decoration: none;color: white}

    ul {
        margin: 0;
        padding:0px;
        grid-column: 1/5;
        display: flex;
        list-style: none;
    }
    li {
        grid-column: 1/5;
        flex: 100%;
        text-align: center;
        background-color: grey;
    }
    .nav{display: none; visibility: hidden}
    .mobileNav{
        background-color: gray;
        grid-row:2;
        grid-column: span 15;
    }
    .mobileNav2{
        background-color: gray;
        grid-row:3;
        grid-column: span 15;
    }
    .mobileNav3{
        background-color: gray;
        grid-row:4;
        grid-column: span 15;
    }
    .mobileNav4{
        background-color: gray;
        grid-row:5;
        grid-column: span 15;
    }
    .mobileNav5{
        background-color: gray;
        grid-row:6;
        grid-column: span 15;
    }


    .titlebar{grid-column: 1/2; grid-row: 7}

    .bar1 {grid-column: 1}

    .bar2 {grid-column: 1}

    .bar3{grid-column: 2; grid-row: 8}
    .top-bar{grid-column: 1/50; background-color: grey; grid-row: 1}
    .footer{grid-column: 1/10; background-color: grey;}
    .footercontent{grid-column:1/10; grid-row: 11; color: white; margin:20px; background-color: grey}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{
        font-family: 'JetBrains Mono', "Roboto Thin";
        background-color: blanchedalmond;
        display: grid;
        grid-template-columns:600px 600px 600px 600px;
        grid-template-rows: 20px 50px auto auto;
        grid-column-gap: 50px;
        padding: 0;
        margin: 0;
    }

    a {text-decoration: none;color: white}

    .ul {
        grid-column: 1/7;
        font-size: 20px;
        display: flex;
        justify-content: space-around;
        list-style: none;
    }
    .li {
        grid-column: 1/7;
        text-align: left;
        background-color: grey;
    }
    .nav{display: flex; visibility: visible}
    .mobileNav{display: none; visibility: hidden}
    .mobileNav2{display: none; visibility: hidden}
    .mobileNav3{display: none; visibility: hidden}
    .mobileNav4{display: none; visibility: hidden}
    .mobileNav5{display: none; visibility: hidden}
    .top-bar{grid-column: span 30; background-color: grey;
    }

    .titlebar{grid-column: 1/5; grid-row: 3; margin-left: 70px}

    .bar1 {grid-column: 1;grid-row: 3; padding-top: 80px;}

    .bar2 {grid-column: 2;grid-row: 3;padding-top: 80px;}

    .bar3{grid-column: 3; grid-row: 3;padding-top: 80px;}
    .bar4{grid-column: 4; grid-row: 3;padding-top: 80px;}

    .TxtArea{}

    .footer{grid-column:span 30; grid-row: 4; background-color: grey; margin-top: 100px}
    .footercontent{grid-column:span 30; grid-row: 4; color: white; margin:20px}

}